body {
    font-family: 'Montserrat', sans-serif;
}

#w1 {
    font-weight: 500;
    padding: 8px;
}

#w1:hover {
    cursor: pointer;
    background-color: lightblue;
    color: blue;
}

.jumbotron {
    text-align: center;
    background-color: #f5f8fa;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.125);
    padding: 2rem;
}

.container {
    text-align: center;
}

.header {
    color: black;
    font-weight: bold;
}

#name {
    margin-left: 60%;
    margin-top:2%;
    color: black;
    border-color: black;
}

#me {
    width: 150px;
    border-radius: 50%;
}

#github {
    margin-left: 30px;
    margin-top: 12px;
}

#linkedin {
    margin-left: 30px;
    margin-top: 12px;
    margin-right: 1.2rem;
}

#resume {
    margin-left: 30px;
    margin-top: 12px;
}