{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="jumbotron">
        <h2 class="title">Sports</h2>
        <div class="row">
            <div class="col-8 center">
                <ul>
                    <li>Soccer</li>
                    <li>Taekwondo</li>
                    <li>Mixed Martial Arts</li>
                </ul>
            </div>
            <div class="col-4">
                    <ul>
                        <li>Running</li>
                        <li>Hiking</li>
                        <li>Golf</li>
                    </ul>
                </div>
        </div>
    </div>
</div>
{% endblock %}