{% extends "base.html" %}
{% block head %}
{{ super() }}
    <head>
        <link rel="stylesheet" href="/static/css/portfolio.css">
    </head>
{% endblock %}
{% block content %}
<div class='jumbotron'>
    <h1>SKILLS</h1><br>
    <i class="skills devicon-python-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-css3-plain-wordmark fa-5x"></i>
    <i class="skills devicon-javascript-plain colored fa-5x"></i>
    <i class="skills devicon-html5-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-postgresql-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-react-original-wordmark colored fa-5x"></i>
    <i class="skills devicon-nodejs-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-git-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-github-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-jquery-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-express-original-wordmark colored fa-5x"></i>
    <i class="skills devicon-heroku-original-wordmark colored fa-5x"></i>
    <i class="skills devicon-visualstudio-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-ubuntu-plain-wordmark colored fa-5x"></i>
    <i class="skills devicon-mongodb-plain-wordmark colored fa-5x"></i>
    <img id='tornado' src="../../static/img/tornado.png">
    <img id='redux' src="../../static/img/redux.png">
    <img id='office' src="../../static/img/office.png">
</div>
<div>
    <figure>
            <img id='tickerworth' src="../../static/img/tickerworth.png">
            <div class='note'>
                <h5>Tickerworth</h5>
                <p>Easy to use application that provides key financial information about the searched company and calculates its intrinsic values based on multiple valuation methods.</p>
                <p>This project was built with Python, Tornado, Postgresql, React/Redux.</p>
            </div>
            <figcaption><a role="button" target="_blank" href="https://github.com/nerincon/tickerworth-backend" class="btn btn-outline-success web">Go to Github</a></figcaption>
        </figure>
    <figure>
        <img id='blackjack' src="../../static/img/blackjack.png">
        <div class='note'>
            <h5>Classic BlackJack Game</h5>
            <p>
                This project was built with HTML, CSS, Javascript, and jQuery.
            </p>
        </div>
        <figcaption><a role="button" target="_blank" href="https://github.com/nerincon/blackjack_game" class="btn btn-outline-success web">Go to Github</a></figcaption>
    </figure>
    <figure>
        <img id='campground' src="../../static/img/camp.png">
        <div class='note'>
            <h5>Campground Project</h5>
            <p>
                This project was built with Node.js, Express, Mongodb, Javascript, EJS, CSS.
            </p>
        </div>
        <figcaption><a role="button" target="_blank" href="https://github.com/nerincon/YelpCamp" class="btn btn-outline-success web">Go to Github</a></figcaption>
    </figure>
    <figure>
        <img id='wav3' src="../../static/img/wav3.png">
        <div class='note'>
            <h5>Wav3space</h5>
            <p>
                This project was built with Node.js, Express, Postgresql, React/Redux.<br>
                This Project is still in development. More features will be coming constantly every month.
            </p>
        </div>
        <figcaption><a role="button" target="_blank" href="https://github.com/nerincon/Wav3space" class="btn btn-outline-success web">Go to Github</a></figcaption>
    </figure>
    <figure>
        <img id='weather' src="../../static/img/weather.png">
        <div class='note'>
            <h5>Weather</h5>
            <p>
                This project was built with Python, Tornado, Postgresql, HTML, CSS.
            </p>
        </div>
        <figcaption><a role="button" target="_blank" href="https://github.com/nerincon/WeatherApp" class="btn btn-outline-success web">Go to Github</a></figcaption>
    </figure>
    <figure>
        <img id='crm' src="../../static/img/crm.png">
        <div class='note'>
            <h5>Insurance</h5>
            <p>
                This project was built with Python, Tornado, Javascript, HTML, CSS.
            </p>
        </div>
        <figcaption><a role="button" target="_blank" href="https://github.com/nerincon/group_p_kappa" class="btn btn-outline-success web">Go to Github</a></figcaption>
    </figure>
</div>
<div>
    <nav id='footer' class="navbar navbar-expand-lg navbar-light foot">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 linkicons">
                <li class="nav-item resumelinks">
                    <span style="color: Dodgerblue;">
                        <a href="https://github.com/nerincon" target='_blank'><i id='github' class="fab fa-github fa-2x"></i></a>
                    </span>
                </li>
                <li class="nav-item link resumelinks">
                    <span style="color: Dodgerblue;">
                        <a href="https://www.linkedin.com/in/nerincon" target='_blank'><i id='linkedin' class="fab fa-linkedin fa-2x"></i></a>
                    </span>
                </li>
            </ul>
    </nav>
</div>
{% endblock %}